*{
    padding: 0;
    margin: 0:
    overflow-x: hidden;
}

.box-purpose{
    display: flex;
    align-items: flex-end;
    object-fit: contain;
    background-color: #ffe6d0;

}

.purpose h1{
    text-align: right;
}

.purpose-img{
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.purpose p1{
    text-align: right;
}

.box-expertise{
    display: grid;
    align-items: flex-start;
    background-color: #ffe9f6;
}

.expertise h1{
    text-align: left;
}

.expertise-img{
    float:right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
}

.espertise p1{
    text-align: right;
}


#team {
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;

}

.kolonne {
    float: left;
    width: 23.0%;
    margin: 1% 1% 45px 1%;
    height: 500px;
}

.person {
    display: inline-block;
    bottom: 0px;
}

.kolonne img {
    width: 100%;
    display: flex;
}

/*legger inn responsivitet i siste filen*/

