*{
    margin: 0;
    padding: 0;
    font-family: 'inter', sans-serif;
}


.omrd-banner {
    background: url(../img/alternativ-banner.jpg);
    height: 60vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-tekst{
    position: absolute;
    width: 100%;
    height: 100%;
    /*tilpasning til nettlesere*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-tekst h1{
    color: #2b1d0e;
    margin-top: -350px; /*plassering av tekst på banner*/
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
}

.omrd-banner-about {
    background: url(../img/2020-11-10.png);
    height: 60vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-tekst-about{
    position: absolute;
    width: 100%;
    height: 100%;
    /*tilpasning til nettlesere*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-tekst-about h1{
    color: #2b1d0e;
    margin-top: -200px; /*plassering av tekst på banner*/
    text-align: center;
    font-size: 56px;
    text-transform: uppercase;
}

