*{
    padding: 0;
    margin: 0;
}

.footer-fordelt{
    background-color: #ebcaad;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 35px 50px;
    margin-top: 80px;

}

.footer-fordelt .left,
.footer-fordelt .center,
.footer-fordelt .right{
	display: inline-block;
	vertical-align: top;
}

.footer-fordelt .left{
    width: 40%;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-fordelt .name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-fordelt .center{
    width: 35%;
}

.footer-fodelt .right{
    width: 20%;
}
.link-placement .float{
    float: right;
    padding-top: 70px;
}
.link-placement img{
 width: 100px;
}
.footer-links a{
    text-decoration: none;
    color: white;
}
.footer-links a:hover{
   color: blanchedalmond;
}

.myBtn {
    font-size: 18px;
    border: none;
    outline: none;
    background: #4c2401;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
.myBtn:hover{
    background-color: #555;
}

@media (max-width: 880px){
    .footer-fordelt{
		font: bold 14px sans-serif;

	}

	.footer-fordelt .left,
	.footer-fordelt .center,
	.footer-fordelt .right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
        padding-bottom: 30px;
	}

	.main {
		line-height: normal;
		font-size: auto;
	}
}
