

/* Nav-barens responsitivitet start*/
@import url('https://rsms.me/inter/inter.css');

@media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
}
/* Nav-barens responsitivitet slutt*/

/* Første bildes responsivitet start*/
@media only screen and (max-width: 1100px){
  
  .boxImg img{
    width: 60%;
  }
  .textInBox{
    width: 100%;
  }
  
}
/* Første bildes responsivitet slutt*/

/* Tekst ved siden av første bildets responsivitet start*/
@media only screen and (max-width: 1100px){
  #box1Text{
    width: 900%;

  }
}
@media only screen and (max-width: 630px){
   
  .textInBox{
    font-size: 25px;
  }
}

@media only screen and (max-width: 420px){
  .textInBox{
    font-size: 20px;
  }
}
/* Tekst ved siden av første bildets responsivitet slutt*/

/* Andre bildets responsivitet start*/
@media only screen and (max-width: 1100px){
  #box2 .boxImg img{
    width: 72%;
  }
}
/* Andre bildets responsivitet slutt*/

/* Tekst ved siden av andre bildets responsivitet start*/
@media only screen and (max-width: 1100px){
  #box2Text{
    width: 90%;
  }
}

@media only screen and (max-width: 630px){
  #box2Text .textInBox{
    font-size: 25px;
  }
}

@media only screen and (max-width: 420px){
  #box2Text .textInBox{
    font-size: 20px;
  }
}
/* Tekst ved siden av andre bildets responsivitet slutt*/

/*Fotter sin responsivitet start*/

@media only screen (max-width: 780px){
    .footer-fordelt{
		font: bold 14px sans-serif;

	}

    .link-placement .float{
        float: none;
        padding-top: 10px;

    }
    .link-placement img{
        float: none;
        padding: 0;
    }

	.footer-fordelt .left,
	.footer-fordelt .right{
		display: block;
		width: 100%;
		text-align: center;
	}

	.main {
		line-height: normal;
		font-size: auto;
	}
}
/*Footer sin responsivitet slutt*/

/*bout us*/

@media (min-width:1920px){
    #box-1{
        width: 100%;
    }
    #box-2{
        width: 100%;
    }
}

@media (max-width:500px){
    #box-img{
        width: 50%;
    }
}






