*{
    padding: 0;
    margin: 0;
}

/* Nav bar start*/
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.menu li a, .logo {
    color: rgb(61, 61, 61);
}

  /* header */

.header {
    background-color: #FEC89A;
    font-family: 'inter';
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    /*bottom: 1;*/
    width: 100%;
    /*height: 10%;*/
    z-index: 1;

}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover {
    background-color: #F9DCC4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 32px;
    padding: 10px 20px;
    text-decoration: none;
}

  /* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

  /* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: rgb(61, 61, 61);
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
}

.header .menu-icon .nav-icon:before, .header .menu-icon .nav-icon:after {
    background: rgb(61, 61, 61);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 5px;
}

.header .menu-icon .nav-icon:after {
    top: -5px;
}

  /* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}

@media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
}

/* Nav bar slutt*/

/*main*/
#main{

    width: 100%;
    height: 100%;
    padding-top: 58.2px;



}
#main h1{
    padding: 10px;

    font-style: oblique;
    height: 20%;

    text-align: center;
    color: black;
    font-size:4vw



}
#box1_100{
    background-color: #ffe6d0;
    width: 100%;
    height: 40%;
}

#box1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3%;

}


#box1Text{
    width: 60%;
    height: 90%;


}
.textInBox{
    width: 80%;
    font-size: 1.5rem;

}

#box2_100{
    height: 40%;
    background-color:  #ffd8b6;
    width: 100%;

}

#box2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}

#box2Text{
    width: 50%;
}

.boxImg{
    display: flex;
    justify-content: center;
}

.boxImg img{
    margin: 30px;
    width: 35vw;

}

@media only screen and (min-width: 1300px){

    #box1{
        width: 100%;
    }
    #box2{
        width: 100%;
    }

}



a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    /*Source: https://stackoverflow.com/questions/2906582/how-to-create-an-html-button-that-acts-like-a-link
    */

}
/*main*/


/*footer start*/
.footer-fordelt{
    background-color: #ebcaad;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 35px 50px;


}

.footer-fordelt .left,
.footer-fordelt .center,
.footer-fordelt .right{
	display: inline-block;
	vertical-align: top;
}

.footer-fordelt .left{
    width: 90%;
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-fordelt .name{
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


.footer-fodelt .right{
    width: 20%;
}
.link-placement .float{
    float: left;
    padding-top: 50px;
}
.link-placement img{
    float: left;
    padding-right: 20px;
    width: 100px;

}
.footer-links a{
    text-decoration: none;
    color: white;
}
.footer-links a:hover{
   color: blanchedalmond;
}

.myBtn {
    font-size: 18px;
    border: none;
    outline: none;
    background: #4c2401;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
.myBtn:hover{
    background-color: #555;
}
