*{
    padding: 0;
    margin: 0;
}

.omrd-banner {
    background: url(/img/2020-11-10.png);
    height: 60vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

/*about us*/

#team {
    position: relative;
    overflow: hidden;
}

.kolonne {
    float: left;
    width: 23.0%;
    margin: 1% 1% 45px 1%;
    height: 500px;
}

.person {
    display: inline-block;
    bottom: 0px;
}

.kolonne img {
    width: 100%;
    display: block;
}

/*legger inn responsivitet i siste filen*/

/* Nav bar start*/
@import url('https://rsms.me/inter/inter.css');


.menu li a, .logo {
    color: rgb(61, 61, 61);
}
  
  /* header */
  
.header {
    background-color: #FEC89A;
    font-family: 'inter';
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    bottom: 1;
    width: 100%;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}
  
.header li a:hover, .header .menu-btn:hover {
    background-color: #F9DCC4;
}
  
.header .logo {
    display: block;
    float: left;
    font-size: 32px;
    padding: 10px 20px;
    text-decoration: none;
}
  
  /* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
  /* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .nav-icon {
    background: rgb(61, 61, 61);
    display: block;
    height: 2px;
    position: relative;
    transition: .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .nav-icon:before, .header .menu-icon .nav-icon:after {
    background: rgb(61, 61, 61);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .nav-icon:before {
    top: 5px;
}
  
.header .menu-icon .nav-icon:after {
    top: -5px;
}
  
  /* menu btn */
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top:0;
}
  
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top:0;
}
  
@media (min-width: 768px) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
}

/* Nav bar slutt*/