body {
    margin: 0px;
}
.nav{
    background-color: #F6AE2D;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;

}
.nav a{
    float: right;
    padding: 5px 10px;
    color: black;
    font-size: 1.4vw;
    text-decoration: none;
    padding: 15px;
}
/*meny hover*/
.nav a:hover {
    background: white;
    color: black;
}

.front{
    background-image:  url("/prosjekter/img/bakgrunn.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 1500px;
    padding-top: 100px;
    width: auto;
}

h2 {
    padding-left: 5px;
}

.informasjon{
    padding: 0px 100px;
}

.informasjon p{

    font-size: 2vw;
}
.informasjon h2{
    font-size: 3vw;
}
.informasjon q{
    font-size: 2vw;
}



/* nav på mobil */
@media screen and (max-width: 1024px) {
    .front{
    background-image:  url("/prosjekter/img/bakgrunn.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 1100px;
    padding-top: 100px;

    }
    .nav {
        display: none;
        }

    .informasjon{
        padding: 0px 20px;
    }
    .informasjon h2{
        font-size: 9vw;
    }
    .informasjon p{

        font-size: 6vw;
    }
    .informasjon q{
        font-size: 6vw;
    }
}
